<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel = 'stylesheet' href = "{% static 'style.css' %}">
</head>
<body>
    <div id="container">
        <div id="formContainer">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.task}}
                <button id ='add' type ='submit'>add</button>
            </form>
        </div>
        <div id="todoItems">
            {% for todo in todos %}
                <div class = 'item'>
                    <p>{{todo.task}}</p>
                    <div class = 'controls'>
                        <a href = "{% url 'updateItem' todo.pk %}"><button class='edit'>Edit</button></a>
                        <a href = "{% url 'deleteItem' todo.pk %}"><button class='delete'>Delete</button></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>